*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-weight: inherit;
    font-size: inherit;
    overflow-x: hidden;
}
ul{
    list-style: none;
}